@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔧 Ajustes básicos para ocupar todo el ancho/alto */
html, body, #root {
  height: 0%;
  margin: 0;
  padding: 0;
}

/* Fondo por defecto, lo puedes cambiar con Tailwind */
body {
  background-color: #0077ee; /* gris claro Tailwind */
}
